
@mixin Header {
  display: flex;
  padding: 0 $closeSpace;
  height: $headerHeight;
  align-items: center;
  justify-content: space-between;
  box-shadow: $lightBoxShadow;

  .logo {
    text-decoration: none;
    text-transform: none;
    color: inherit;
  }

  .navigationLinks {
    display: flex;

    li {
      display: flex;
      margin-right: $closeSpace;
    }
  }
  
  .userActions {
    
    .config {
      background: #d1fffd;
      padding: 8px;
      border-radius: 10px;
    }
  }
}

.Header {
  @include Header();
}
