

@mixin Header {
  display: flex;
  padding: 0 $closeSpace;
  height: $headerHeight;
  align-items: center;
  justify-content: space-between;
  box-shadow: $lightBoxShadow;
  position: relative;

  .logo {
    text-decoration: none;
    text-transform: none;
    color: inherit; 
  }

  .navigation {
    position: absolute;
    margin: 0 auto;
    left: 50%;
  
    .navigationLinks {
      display: flex;
      position: relative;
      left: -50%;
  
      li {
        display: flex;
        margin-right: $closeSpace;
      }
    }
  }
  
  
  .userActions {

    .username {
      margin-right: $closeSpace;
    }
    
    .config {
      @include headerAction;
      background: #d9e3f8;
    }

    .logout {
      @include headerAction;
      background: #ffd1d1;
      margin-left: calc(#{$closeSpace} / 2);
    }
  }
}

.Header {
  @include Header();
}
