
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Raleway:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

$titleFontFamily: 'Poppins', sans-serif;
$textFontFamily: 'Raleway', sans-serif;

$closeSpace: 16px;
$broadSpace: 32px;

$headerHeight: 70px;

$mediumTextSize: 16px;
$bigTextSize: 24px;

$lightBoxShadow: 1px 1px 1px 1px rgba(73, 73, 73, 0.267);
$aboveBoxShadow: 1px 2px 3px 3px rgba(73, 73, 73, 0.267);

$accentColor: rgb(29, 87, 194);

* {
  font-family: $textFontFamily;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFontFamily;
}

p, span, a, div, button {
  font-size: $mediumTextSize;
}

button {
  padding: 4px;
  border: none;
  border: 1px solid gray;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin bidNowButton() {
  background: none;
  align-self: flex-start;
  padding: $closeSpace;
  background: $accentColor;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-family: $titleFontFamily;
  box-shadow: $lightBoxShadow;
  height: 60px;
  max-height: 60px;
  display: flex;
  justify-content: center;
}

@mixin SortButton() {
  padding: calc(#{$closeSpace} / 2);
  background: $accentColor;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  box-shadow: $lightBoxShadow;
}

@mixin formInput() {
  width: 100%;
  padding: calc(#{$closeSpace} / 3);
  border: none;
  border-bottom: 1px solid black;
  font-size: $mediumTextSize;
}

@mixin headerAction() {
  padding: 8px;
  border-radius: 10px;
  $height: 30px;
  border: 1px solid black;
}

@mixin errorMessage() {
  font-size: 12px;
  color: red;
  margin-bottom: $closeSpace;
}

.loader {
  border:4px solid $accentColor; 
  border-top: 2px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
