
@import './variables';
@import './home/ItemsFilter.scss';
@import './home/ItemsList.scss';
@import './home/PaginationLinks.scss';

.Home {
  padding: 0 $closeSpace;
  margin-top: $broadSpace;
  
  .mainTitle {
    margin-top: $broadSpace;
  }

  .itemsListSection {
    display: flex;
    flex-direction: column;

    .listModifiers {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .SortButton {
        @include SortButton;
      }

      .PaginationLinks {
        align-self: flex-end;
      }
    }
  }
}

